﻿@model LocalPasswordModel
@{
    var bs = Html.Bs();
    bs.Classes("col-md", 0, 12);
}

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <legend>Change Password</legend>
    <div class="form-group col-md-12">
        <label class="sr-only">Old Password</label>
        @bs.Form.TextBoxFor(m => m.OldPassword, html: new { autofocus = "", placeholder = "Old Password" })
        @Html.ValidationMessageFor(m => m.OldPassword)
    </div>
    <div class="form-group col-md-12">
        <label class="sr-only">New Password</label>
        @bs.Form.TextBoxFor(m => m.NewPassword, html: new { autofocus = "", placeholder = "New Password" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div class="form-group col-md-12">
        <label class="sr-only">Confirm Password</label>
        @bs.Form.TextBoxFor(m => m.ConfirmPassword, html: new { autofocus = "", placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary btn-sm" value="Change password">Change Password</button>
    </div>
}
