﻿@using DocDemo.Web.Util
@model DocDemo.Web.Models.LoginModel

@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    ViewBag.Title = "Log in";
    var bs = Html.Bs();
    bs.Classes("col-md");
}

<div class="col-md-5 center-block" style="float: none; margin-top: 150px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign In</h3>
        </div>
        <div class="panel-body">
            <img src="~/Images/e2e-logo-inline.png" style="padding-bottom: 10px"/>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="form-group">
                        @bs.Form.TextBoxFor(m => m.UserName, html: new { autofocus = "", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group">
                        @bs.Form.PasswordFor(m => m.Password, new { placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            Remember Me
                        </label>
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <button type="submit" class="btn btn-sm btn-success">Login</button>
                </fieldset>
            }
        </div>
    </div>
</div>