﻿@model DocDemo.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<p class="message-success">@ViewBag.StatusMessage</p>

<div class="col-md-6">
    @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
</div>
<div class="col-md-6">
    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h4>Add an external login</h4>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
