﻿@using System.Web.Mvc
@using PagedList

@functions {
    const int _maxPageLinks = 5;
}

@functions{
    /// <summary>
    /// Creates the pager at the bottom a list.  Expects to be used with a correctly
    /// named search form, with a hidden field with id "Page".
    /// </summary>
    /// <param name="results">A paged list</param>
    /// <param name="action">Optional action to redirect to.  If this is empty, the same page is used</param>
}
@helper SearchFormSubmit(IPagedList results, string action = "")
{

    if (results == null || results.PageCount == 0)
    {
    <text>&nbsp;</text>
        return;
    }

    var url = new UrlHelper(Request.RequestContext);
    var pageRange = GetPageRange(results.PageNumber, results.PageCount);
    action = (string.IsNullOrWhiteSpace(action)) ? "" : url.Action(action);
    
    <script type="text/javascript">
        $(function () {
            $('#GoToPage').keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    $("#GoToPageButton").click();
                }
            });
        });
    </script>
    
    <div>
        <div class="pull-left">
            <ul class="pagination pagination-sm">
                @MakePageLink(results, 1, "First", action)
                @MakePageLink(results, results.PageNumber - 1, "Previous", action)

                @if (pageRange.Start > 1)
                {
                    <li class="disabled"><a>...</a></li>
                }
                @foreach (var i in Enumerable.Range(pageRange.Start, pageRange.Total))
                {
                    @MakePageLink(results, i, i.ToString(), action)
                }
                @if (pageRange.End < results.PageCount)
                {
                    <li class="disabled"><a>...</a></li>
                }
                @MakePageLink(results, results.PageNumber + 1, "Next", action)
                @MakePageLink(results, results.PageCount, "Last", action)
            </ul>
        </div>

        <div class="input-group input-group-sm pull-left" style="margin-top: 25px; margin-left: 20px;">
            <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i> Page:</span>
            <input type="text" id="GoToPage" class="form-control text-center" style="width: 30px" readonly="@(results.PageCount < 2)" value="@results.PageNumber">
            <span class="input-group-addon">
                <a class="@(results.PageCount < 2 ? "disabled" : "")" id="GoToPageButton" onclick="pager_goToPage('@action')">
                    <i class="glyphicon glyphicon-play"></i>
                </a>
            </span>
        </div>

        <div class="pull-right">
            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">@string.Format("Page {0} of {1}", results.PageNumber, results.PageCount)</a></li>
            </ul>
        </div>
    </div>
}

@functions {
    private static MvcHtmlString MakePageLink(IPagedList results, int pageNumber, string title = "", string action = "")
    {
        const string activeTemplate = @"<li><a href=""javascript:pager_submitForm('{0}', {1});"">{2}</a></li>";
        const string disabledTemplate = @"<li class=""disabled""><a>{2}</a></li>";
        var template = activeTemplate;

        if (title == "") title = pageNumber.ToString();
        if (pageNumber < 1) pageNumber = 1;
        if (pageNumber > results.PageCount) pageNumber = results.PageCount;
        if (results.PageNumber == pageNumber) template = disabledTemplate;

        return new MvcHtmlString(string.Format(template, action, pageNumber, title));
    }

    private static PageRange GetPageRange(int currentPage, int totalPages)
    {

        // shortcut the easy case of having less pages to show than we want.  now we are 
        // guaranteed to have at least maxPages + 1 in PageCount
        if (totalPages <= _maxPageLinks) return new PageRange { Start = 1, End = totalPages };

        // calculate the ideal amount to show before/after the current page, in case we ended up
        // being called with an even number (6 total = 1 active + 3 left, 2 right, for example). 
        // odd numbers divide evenly (round down) so (5 total = 1 active + 2 left + 2 right
        var showAfter = _maxPageLinks / 2;
        var showBefore = _maxPageLinks / 2;
        if (showAfter + showBefore + 1 < _maxPageLinks) showBefore += (_maxPageLinks - (showAfter + showBefore));

        var end = Math.Min(totalPages, currentPage + showAfter);
        var start = Math.Max(1, currentPage - showBefore);
        var totalShown = end - start + 1;
        var missingPages = _maxPageLinks - totalShown;

        // if we aren't showing enough pages, then add them to the other side if possible
        if (missingPages != 0)
        {
            if (start == 1) end += missingPages;
            if (end == totalPages) start -= missingPages;
        }

        return new PageRange { Start = start, End = end };
    }

    private class PageRange
    {
        public int Start { get; set; }
        public int End { get; set; }
        public int Total { get { return End - Start + 1; } }
    }
}