﻿@helper ProductLink(string url)
{
    // do this to avoid the issue with this function outputting spaces, but the TD it is part of is white-space:pre.  If we
    // were not using "pre" or had the icon in a different place, we could use normal HTML output
    this.WriteLiteral(String.Format("<a href=\"http://{0}\" <i class=\"glyphicon glyphicon-new-window\"></i></a>", url));
}

@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    table > tbody > tr > td:first-child {
        white-space: pre;
        padding-left: 20px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome to the the wonderful world of Demo</h3>
    </div>
    <div class="panel-body">
        <p>
            This is a small, but fully functional, demo site.  It is completely self contained, and runs an embedded 
            database. You can view, add, and edit one table's data.  New features are being added all the time, but this
            code should be considered a starting point for a new project and not a "library". 
        </p>
        The login information is:
            <ul>
                <li>Username: admin</li>
                <li>Password: admin</li>
            </ul>
        <p>
            It is recommended <b>not</b> to use <code>IE 8</code> to view this demo site.  <code>IE 8</code> requires 
            additional work to make function properly with the fonts, layout, and so on.  This level of
            work is not in-scope for a simple demo site.  Fixing these issues, however, can be done with
            relative ease and access to baidu/google :)
        </p>
        <p>
            Below is a list of the major components used in building the site.
        </p>
    </div>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Component</th>
            <th>Version</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th colspan="3">Database</th>
        </tr>
        <tr>
            <td>Entity Framework @ProductLink("entityframework.codeplex.com/wikipage?title=specs")</td>
            <td>6.1.1</td>
            <td>Database ORM with LINQ support.  Also converts data model classes to database tables.</td>
        </tr>
        <tr>
            <td>Sql Server CE @ProductLink("msdn.microsoft.com/en-us/data/ff687142.aspx")</td>
            <td>4.0.8876.1</td>
            <td>Embedded, in-process SQL database.  Provides easy upgrade path to full SQL Server</td>
        </tr>

        <tr>
            <th colspan="3">Framework</th>
        </tr>
        <tr>
            <td>ASP.Net MVC 4 @ProductLink("www.asp.net/mvc/mvc4")</td>
            <td>4.0.20710.0</td>
            <td>Base MVC framework from Microsoft</td>
        </tr>

        <tr>
            <th colspan="3">UI/WEB</th>
        </tr>
        <tr>
            <td>Bootstrap @ProductLink("getbootstrap.com/getting-started/")</td>
            <td>3.2.0</td>
            <td>Provide the base CSS/JS layout (grids, tables, forms, menus, etc).  We use a custom theme for this demo site</td>
        </tr>
        <tr>
            <td>jQuery</td>
            <td>1.8.2</td>
            <td>Base javascript function library.  Used by plugins, bootstrap, and custom code</td>
        </tr>
        <tr>
            <td>jQuery Unobtrusive</td>
            <td>2.0</td>
            <td>Microsoft's library for integration MVC data validation with jQuery</td>
        </tr>

        <tr>
            <th colspan="3">Misc</th>
        </tr>
        <tr>
            <td>NLog @ProductLink("nlog-project.org")</td>
            <td>3.1.0</td>
            <td>Writing debug/errors to log file</td>
        </tr>
        <tr>
            <td>AutoMapper @ProductLink("automapper.org") </td>
            <td>3.2.1</td>
            <td>Configurable conversion of objects.  Very useful for converting between data models
                and view/edit/add models at runtime.  Reduces code clutter and manual mapping of DTOs.
            </td>
        </tr>
        <tr>
            <td>Autofac @ProductLink("autofac.org/")</td>
            <td>3.5.2</td>
            <td>Provied a IOC container for creating controllers/views/filters.  Allows injection of 
                dependencies into controllers, while keeping the controllers simple
            </td>
        </tr>
        <tr>
            <td>ELMAH @ProductLink("www.hanselman.com/blog/ELMAHErrorLoggingModulesAndHandlersForASPNETAndMVCToo.aspx")</td>
            <td>1.2.2</td>
            <td>Logging unhandled and other exceptions in a no-impact way.  Does not change application code.</td>
        </tr>
        <tr>
            <td>ELMAH.MVC</td>
            <td>2.1.1</td>
            <td>Provides a <code>/errors</code> route for viewing exception logs (404, etc) from ELMAH</td>
        </tr>
        <tr>
            <td>Newtonsoft.Json</td>
            <td>6.0.4</td>
            <td>Modern JSON parsing/serializing library (used by ASP.Net, upgraded)</td>
        </tr>
        <tr>
            <td>Moment.js @ProductLink("momentjs.com")</td>
            <td>2.8.2</td>
            <td>Datetime library for javascript.  Used by the datepicker, and custom code to parse/format date values.</td>
        </tr>
        <tr>
            <td><i>Other</i></td>
            <td>...</td>
            <td>Other helper libraries are included. Some are part of the standard MVC project, and some are helpers
                such as SQL CE support for Entity Framework.  Those libraries are not listed in this page if they do not
                affect the code a developer writes directly, or are not yet used by the demo.  An example of this is the
                <code>Knockout</code> JS library.  It is useful, but not yet used, and so is not listed here.
            </td>
        </tr>
    </tbody>
</table>
