﻿@model EmployeeAddModel
@{
    ViewBag.Title = "Create";
    var bs = Html.Bs();
    bs.Classes(sizeClass: "col-md", label: 3, input: 8);
}
@section scripts {
    @* http://eonasdan.github.io/bootstrap-datetimepicker/ *@
    <script type="text/javascript">
        $(function () {
            $('#hire-date-picker').datetimepicker({
                pickTime: false,
                format: "YYYY-MM-DD",
                minDate: "1990-01-01",
                useCurrent: true
            });
        });
    </script>
}

<div class="col-md-8 col-md-offset-1">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Add New User</legend>
            <!-- Name input-->
            <div class="form-group">
                @bs.Form.LabelFor(m => m.Name)
                <div class="@bs.GetSize(9)">
                    @bs.Form.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @bs.Form.LabelFor(m => m.Skills)
                <div class="@bs.GetSize(9)">
                    @bs.Form.TextBoxFor(m => m.Skills, size: 100)
                    @Html.ValidationMessageFor(m => m.Skills)
                </div>
            </div>

            <div class="form-group">
                @bs.Form.LabelFor(m => m.HireDate)
                <div class="@bs.GetSize(9)">
                    <div class="input-group date @bs.GetSize(4)" id="hire-date-picker">
                        @bs.Form.TextBoxFor(x => x.HireDate, html: new
                        {
                            data_date_format = "YYYY-MM-DD"
                        })
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.HireDate)
                </div>
            </div>
            <div class="form-group">
                @bs.Form.LabelFor(m => m.MonthlySalary)
                <div class="@bs.GetSize(9)">
                    @bs.Form.TextBoxFor(m => m.MonthlySalary, size: 6)
                    @Html.ValidationMessageFor(m => m.MonthlySalary)
                </div>
            </div>
            <div class="form-group">
                <div class="@bs.GetSizeWithOffset(9) checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.CanBillHourly)
                        Can Work Hourly
                        @Html.ValidationMessageFor(m => m.CanBillHourly)
                    </label>
                </div>
            </div>
            <div class="form-group">
                @bs.Form.LabelFor(m => m.HourlyRate, "Hourly Rate")
                <div class="@bs.GetSize(9)">
                    @bs.Form.TextBoxFor(m => m.HourlyRate)
                    @Html.ValidationMessageFor(m => m.HourlyRate)
                </div>
            </div>
            <div class="form-group">
                <div class="@bs.GetSizeWithOffset(9)">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-default" href="@Url.Action("Index")">Cancel</a>
                </div>
            </div>
        </fieldset>
    }
</div>

