﻿@model DocDemo.Data.Models.Employee
@{
    ViewBag.Title = "Delete Employee";
}
@helper Row(string title, string txt)
{
    <div class="form-group-sm">
        <label class="col-md-2 control-label">@title</label>
        <div class="col-md-10">
            <p class="form-control-static">@txt</p>
        </div>
    </div>
}

<form method="post" class="form-horizontal">
    <input type="hidden" name="id" value="@Html.Value("id")"/>
    <input type="hidden" name="confirm" value="True" />
    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Row("Name", Model.Name)
        @Row("Skills", Model.Skills)
        @Row("Hire Date", Model.HireDate.ToString("yyyy-MM-dd"))
        @Row("Salary (Monthly)", Model.MonthlySalary.ToString("#,###"))
        @Row("Can Bill Hourly", Model.CanBillHourly.ToString())
        @Row("Rate (Hourly)", Model.HourlyRate.ToString("#,###"))

        <div class="form-group form-group-sm">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>
