﻿@using DocDemo.Web.Util
@model DocDemo.Web.Models.EmployeeEditModel
@{
    ViewBag.Title = "Edit Employee";
    var bs = Html.Bs();
    bs.Classes(sizeClass: "col-md", label: 3, input: 8);
}

<div class="col-md-8 col-md-offset-1">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend class="text-center">Edit User</legend>
            <!-- Name input-->
            <div class="form-group">
                @bs.Form.LabelFor(m => m.Name)
                <div class="@bs.GetSize(9)">
                    @bs.Form.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @bs.Form.LabelFor(m => m.Skills)
                <div class="@bs.GetSize(9)">
                    @bs.Form.TextBoxFor(m => m.Skills, size: 100)
                    @Html.ValidationMessageFor(m => m.Skills)
                </div>
            </div>
            <div class="form-group">
                <div class="@bs.GetSizeWithOffset(9) checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.CanWorkHourly)
                        Can Work Hourly
                        @Html.ValidationMessageFor(m => m.CanWorkHourly)
                    </label>
                </div>
            </div>
            <div class="form-group">
                @bs.Form.LabelFor(m => m.HourlySalary, "Hourly Rate")
                <div class="@bs.GetSize(9)">
                    @bs.Form.TextBoxFor(m => m.HourlySalary)
                    @Html.ValidationMessageFor(m => m.HourlySalary)
                </div>
            </div>
            <div class="form-group">
                <div class="@bs.GetSize(9) @bs.GetOffset(3)">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-default" href="@Url.Action("Index")">Cancel</a>
                </div>
            </div>
        </fieldset>
    }
</div>
