﻿@model EmployeeListModel
@{
    ViewBag.Title = "Employees";
}

@helper RowAction(string action, int id, string icon, string text)
{
    <a href="@Url.Action(action, new { id = id })" class="btn"><i class="glyphicon glyphicon-@icon"></i>@text</a>
}

<div class="navbar navbar-default navbar-search">
    <form class="navbar-form navbar-left" role="search" id="search-form" method="POST">
        @Html.HiddenFor(m => m.Page)
        @Html.HiddenFor(m => m.ItemsPerPage)
        <div class="form-group form-group-sm">
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control input-sm" })
        </div>
        <div class="form-group form-group-sm">
            <div class="btn-group btn-group-sm">
                <button type="submit" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i></button>
                <a href="@Url.Action("Index")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
        </div>
        <div class="form-group form-group-sm pull-right">
            <a href="@Url.Action("Create")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i> Add Employee</a>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hire Date</th>
            <th>Skills</th>
            <th>Salary (Monthly)</th>
            <th>Hourly?</th>
            <th>Hourly Rate</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.HasItems)
        {
            foreach (var x in Model.Items)
            {
            <tr>
                <td>@x.Name</td>
                <td>@x.HireDate</td>
                <td>@x.Skills</td>
                <td>@x.MonthlySalary</td>
                <td>@x.CanBillHourly</td>
                <td>@x.HourlyRate</td>
                <td class="text-right">
                    <div class="btn-group btn-group-xs">
                        @RowAction("Edit", x.EmployeeId, "edit", "Edit")
                        @RowAction("Delete", x.EmployeeId, "trash", "")
                    </div>
                </td>
            </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100">
                @Pager.SearchFormSubmit(Model.Items)
            </td>
        </tr>
    </tfoot>
</table>
