﻿@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
    }
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name <span class="caret"></span></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Manage", "Account")"><i class="glyphicon glyphicon-edit"></i> My Profile</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="glyphicon glyphicon-lock"></i> Log off
            </a>
            </li>
        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
